body{
	line-height: 1.5;
	font-size: 15px;
	margin-left: 30px;
}

h1 {
	text-align: center;
}

h2{
	text-align: center;
	font-size: 15px;
	margin-top: -20px;
	font-style: italic;
}

h3{
	font-size: 20px;
	margin-bottom: -10px;
	border-bottom: 1px solid black;
}

ol{
	margin-left: 10px;
	font-style: bold;
}
ul{
}

#list{
	font-size: 18px;
}

div.code{
	background-color: #f2f8fc;
 	border: 1px solid  #dbe7f3;
 	line-height: 1;
}

pre{
	overflow: auto;
	 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

code{
	background-color: #f2f8fc;
	border: 1px solid  #dbe7f3;
}